@charset "utf-8";

#testDiv,#testDiv1,#testDiv2{
    font-size: 0.26rem;
    /*width:6.4rem;*/
    height: 0.6rem;
    line-height: 0.6rem;
    background-color: aliceblue;
    text-align: center;
    border-radius: 11px;
    border: 1px solid burlywood;
}
