@import "flex";
@import "theme";

@import "top_nav_header";


#login_form{
  @include flexbox;

  @include flex-direction(column);
  .login_form_item{
    @include flexbox;
    flex: 1;
    margin: 20px 25px 0 25px;
    input[type='text'] ,input[type='password'] ,input[type='button']  {
      flex: 1;
      height: $itemRowHeight;
      line-height: $itemRowHeight;
      border: 1px solid#eeeeee;
      border-radius: 5px;
      text-indent: 15px;
    }
    #login_btn{
      background-color: $applicatiionThemeColor;
    }
    input[type='button']{
      color: white;
      font-size: 0.29rem;
    }
  }

  #login_form_item{
    @include justify-content(space-between);
    height:0.6rem;
    line-height: 0.6rem;
    #more_left{
      @include flexbox;
      img{
        width:0.6rem;
      }
      label{
        margin-left:10px;
        a{
          color: black;
          &:hover{color:black}
        }
      }
    }
    #more_right{
        a {
          color: black;
          &:hover {
            color: black
          }
        }
    }
  }
}