@import "theme";
@import "flex";
@import "top_nav_header";

#sheet_view{
  @include flexbox;
  @include flex-direction(column);
  background-color: #00B3BE;
  .rowitem{
    height: 0.6rem;
    text-align: center;
    line-height: 0.6rem;
    border-bottom: 1px solid #eeeeee;
  }
}

#sheet_nav_footer{
  height: 6rem;
  background-color: #c5c5c5;
  border: 1px solid black;
}