<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../../Res/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body ng-app>

    <div ng-controller="firstController">
        <p>
            <input type="text" value="" ng-model="name">
        </p>

        <div ng-controller="secondController">
            <p>
                <input type="text" value="" ng-model="name">
            </p>
        </div>

    </div>
</body>
</html>