<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 设置全局变量，根据需要在配置 -->
	
	
	
	
	<typeAliases>
		<package name="com.liushuo.myDemo.pojo"/>
		<package name="com.liushuo.myDemo.qo"/>
		<package name="com.liushuo.dev.pojo"/>
		<package name="com.liushuo.dev.qo"/>
	</typeAliases>
	
	<!-- 
	
		由于mybatis和spring的包整合了自动扫描包，不需要手动设置
		xml必须遵循的原则:  必须xml和mapper的名字保持一致 在同一目录
		
	 -->
	
</configuration>