<component name="libraryTable">
  <library name="spring&amp;mybatis">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/asm-3.3.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/aspectjweaver-1.6.11.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/bcprov-jdk15on-154.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/bcprov-jdk16-146.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/cglib-2.2.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/commons-dbcp-1.2.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/commons-fileupload-1.3.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/commons-lang-2.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/commons-pool-1.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/commons.io_2.0.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/jackson-all-1.8.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/javapns-jdk16-2.2.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/javassist-3.17.1-GA.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/jstl-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/junit-4.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/log4j-1.2.17.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/log4j-api-2.0-rc1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/log4j-core-2.0-rc1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/mybatis-3.2.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/mybatis-spring-1.2.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/mysql-connector-java-5.1.7-bin.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/slf4j-api-1.7.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/slf4j-log4j12-1.7.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-aop-4.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-aspects-3.2.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-beans-4.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-context-4.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-context-support-4.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-core-4.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-expression-4.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-jdbc-4.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-oxm-4.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-test-4.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-tx-4.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-web-4.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Software/Lib/spring-webmvc-4.0.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>